.navbar-default {
  background-color: #000;
  border: 0;
  border-bottom: 1px solid #11ED5E;
}
.navbar-default .navbar-brand {
  color: #11ED5E;
}
.album-img {
  position: absolute;
  top: 50px;
  bottom: 160px;
  left: 0px;
  right: 0px;
  padding: 10px;
  text-align: center;
}
.album-img img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  overflow: auto;
  zoom: 10;
}
.control {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  padding-top: 10px;
  border-top: 1px solid #aaa;
}
.control .songinfo {
  text-align: center;
  color: #aaa;
  margin-bottom: 5px;
}
.control .songinfo .song-title {
  font-weight: bold;
  margin-bottom: 0;
}
.control .btn-ctrls-btns {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
.control .btn-ctrls-btns button.btn-play-ctrls {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  background-color: #222;
  color: #aaa;
  border: 1px solid #aaa;
}
.control .btn-ctrls-btns-small {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 5px;
  text-align: center;
}
.control .btn-ctrls-btns-small button.btn-play-ctrls {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  font-size: 15px;
  background-color: #222;
  color: #aaa;
  border: 1px solid #aaa;
  padding-top: 4px;
}
.control .btn-ctrls-btns-small button.btn-play-ctrls span {
  margin-left: -4px;
}
.volume-ctrls-container {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: auto;
}
.volume-ctrls-container .volume-ctrls-content {
  margin: 70% auto;
  height: 100px;
  width: 80%;
  border: 1px solid #aaa;
  border-radius: 10px;
  background-color: #111;
  text-align: center;
}
.volume-ctrls-container .volume-ctrls-content .volume-ctrls-btns {
  display: flex;
  width: 95%;
  margin: 0 auto;
}
.volume-ctrls-container .volume-ctrls-content .volume-ctrls-btns .item {
  width: auto;
}
.volume-ctrls-container .volume-ctrls-content .volume-ctrls-btns .item:first-child {
  margin-right: 10px;
  width: 10px;
}
.volume-ctrls-container .volume-ctrls-content .volume-ctrls-btns .item:last-child {
  margin-left: 10px;
  width: 10px;
}
html,
body {
  background-color: #111;
}
